name: Run Specific Python Script

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  run-python-file:
    runs-on: ubuntu-latest 

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.13.9'

      - name: Install dependencies (Optional)
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Run the specific Python file
        run: preprocessing/automate_Thoriq_Dhiya_A.py
